.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body  {
    margin: auto;
}
.head {
    margin-right: auto;
    width: 1600px;
    height: 900px;
    background-image: url(https://x0.at/TBiS.png);
    background-repeat: no-repeat;
    background-position: center -12.7vh;
    background-size: 100%;
}
.head header {
    display: flex;
    padding: 2.3vh 10.3vh;
    height: 3.2vh;
}
.logo {
    display: flex;
}
.logo-img {
    height: 100%;
}
.logo-text {
    font-size: 25px;
    margin: 0;
    padding: 1vh 0 0 0;
}
.head-buttons > *{
    border: 0;
}